- name: install nginx
  yum: name=nginx state=present

- name: install php-fpm
  yum: name=php-fpm state=present

- name: install bcmath
  yum: name=php-bcmath state=present

- name: create /var/lib/php/session
  file: state=directory path=/var/lib/php/session owner=apache group=apache

- name: install php-mysql
  yum: name=php-mysql state=present

- name: set catch_workers_output to yes
  lineinfile: dest=/etc/php-fpm.d/www.conf regexp='^;?catch_workers_output' line='catch_workers_output = yes'
  notify: restart php-fpm

- name: start nginx
  service: name=nginx state=started enabled=yes

- name: start php-fpm
  service: name=php-fpm state=started enabled=yes

- name: put anemometer template
  template: src=anemometer.conf dest=/etc/nginx/conf.d/anemometer.conf
  notify: restart nginx

- name: put htpasswd.anemometer
  template: src=htpasswd.anemometer dest=/etc/nginx/htpasswd.anemometer
